<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link rel="stylesheet" href="/styles/style.css">

  <title>Sorveteria - Brisa Nordestina</title>
</head>

<body>
  <div class="logo">
    <img src="/assets\brisa_nordestina-removebg-preview.png" alt="" srcset="" />
  </div>

  <dialog id="finishCart">
    <div class="productsCart">
      <button class="close"><i class="fa-solid fa-x"></i></button>
      <h2>Adicionados ao carrinho</h2>
      <div class="cartProducts">
      </div>
      <div class="final">
        <div class="Entrega">
          <label for="metodopagamento">Metodo de Pagamento:</label>
          <select name="metodopagamento" id="pagamento">
            <option value="pix">Pix</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="cartao">Cartão</option>
          </select>
        </div>
        <span class="total">Total: R$200</span>
        <button class="finishBtn">Confirmar</button>
      </div>
    </div>

    <div class="delivery">
      <button class="close"><i class="fa-solid fa-x"></i></button>
      <h2>Estamos quase lá...</h2>
      <label for="Nome">Nome completo:</label>
      <input type="text" name="Nome" id="Nome" placeholder="Digite seu nome" required>
      <label for="telefone">Telefone:</label>
      <input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" required>
      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" id="endereco" placeholder="Digite seu endereço" required>
      <div class="cepAndNum">
        <label for="cep">Cep:</label>
        <input type="text" name="cep" id="cep" placeholder="Digite seu CEP" required maxlength="8" pattern="\d{8}">
        <label for="numero">Numero:</label>
        <input type="number" name="numero" id="numero" placeholder="Digite o numero" required>
      </div>
      <label for="complemento">Complemento:</label>
      <input type="text" name="complemento" id="complemento" placeholder="Apartamento/bloco-322" >
      <div class="final">
        <span class="total">Total: R$200</span>
        <button class="finishBtn payment">Finalizar</button>
      </div>
     
      </div>
      </div>
    </div>
   
  </dialog>

  <div class="cardapio">
    <div class="title">
      <h2>CARDÁPIO</h2>
    </div>
    <div class="second-title">
      <h3>SABORES</h3>

      <div class="cart">
        
        <i class="fa-solid fa-cart-shopping"><span class="cartSpan">0</span></i>
      </div>
    </div>
    <div class="tabs">
      <button class="tab-btn active" data-category="tradicional">🍦 Tradicional</button>
      <button class="tab-btn" data-category="premium">🍨 Premium</button>
    </div>
    
    <!-- Filtros de tamanho -->
    <div class="filter">
      <button class="filter-btn active" data-size="1L">1 Litro</button>
      <button class="filter-btn" data-size="1,5L">1,5 Litros</button>
    </div>
    
    <!-- Conteúdo das categorias -->
    <div class="products-container">
      <!-- Categoria Tradicional -->
      <div class="products category active" id="tradicional">
        <% products.forEach(iceCream => { %>
          <% if (iceCream.propertie === "traditional") { %>
            <div class="product" data-size="<%= iceCream.size %>" data-category="tradicional">
              <div class="infos">
                <h4 id="I<%= iceCream.id %>-name"><%= iceCream.name %> <%= iceCream.size %></h4>
                <div class="price-stock">
                  <span id="I<%= iceCream.id %>-price">R$ <%= iceCream.price.toFixed(2) %></span>
                  <span id="I<%= iceCream.id %>-stock">Em estoque: <%= iceCream.inStock %></span>
                </div>
              </div>
              <div class="addToCart">
                <button class="cartBtn" data-id="<%= iceCream.id %>">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
            </div>
          <% } %>
        <% }) %>
      </div>
    
      <!-- Categoria Premium -->
      <div class="products category" id="premium">
        <% products.forEach(iceCream => { %>
          <% if (iceCream.propertie === "premium") { %>
            <div class="product" data-size="<%= iceCream.size %>" data-category="premium">
              <div class="infos">
                <h4 id="I<%= iceCream.id %>-name"><%= iceCream.name %> <%= iceCream.size %></h4>
                <div class="price-stock">
                  <span id="I<%= iceCream.id %>-price">R$ <%= iceCream.price.toFixed(2) %></span>
                  <span id="I<%= iceCream.id %>-stock">Em estoque: <%= iceCream.inStock %></span>
                </div>
              </div>
              <div class="addToCart">
                <button class="cartBtn" data-id="<%= iceCream.id %>">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
            </div>
          <% } %>
        <% }) %>
      </div>
    </div>
    

    <button class="finalizar">
      Ver carrinho <i class="fa-solid fa-arrow-right-long"></i>
    </button>
  </div>

  <div class="payments-method">
    <span>Aceitamos cartão | dinheiro | pix</span>
  </div>

  <div class="instagram">
    <i class="fa-brands fa-instagram"></i>
    <a href="https://www.instagram.com/brisa.nordestina/" target="_blank">@brisa.nordestina</a>
  </div>
  <script src="/src/cartpayment.js"></script>
  <script src="/src/category.js"></script>
</body>

</html>