<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css">

    <title>Sorveteria - Brisa Nordestina</title>
  </head>
  <body>
    <div class="logo">
      <img
        src="/assets\brisa_nordestina-removebg-preview.png"
        alt=""
        srcset=""
      />
    </div>

    <dialog id="finishCart">
     <div class="productsCart">
       <h2>Adicionados ao carrinho</h2>
       <div class="cartProducts">
         <div class="productCart">
           <h3>Nome do produto</h3>
           <span>R$40</span>
           <span>Quantidade: 5</span>
           <button class="deleteBtn">
            <i class="fa-solid fa-trash"></i>
            </button>
         </div>
         <div class="final">
            <label for="metodoEntrega">Forma de entrega:</label><br>
            <select name="metodoEntrega" id="entrega">
              <option value="Retirar">Retirada no Local</option>
              <option value="Entrega">Entrega</option>
            </select>
            <span>Total: R$200</span>
            <button class="finishBtn">Proximo</button>
         </div>

       </div>

     </div>
  </dialog>

    <div class="cardapio">
      <div class="title">
        <h2>CARDÁPIO</h2>
      </div>
      <div class="second-title">
        <h3>SABORES</h3>

        <div class="cart">
          <span>0</span>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
      <div class="products">
        <% products.forEach(iceCream => { %>
            <div class="product" >
                <div class="infos">
                  <h4 id="<%= iceCream.id %>-name"><%=iceCream.name %></h4>
                  <div class="price-stock">
                    <span id="<%= iceCream.id %>-price">R$<%= iceCream.price %></span>
                    <span id="<%= iceCream.id %>-stock">Em estoque: <%= iceCream.inStock %></span>
                  </div>
                </div>
                <div class="addToCart">
                  <button class="cartBtn" id="<%= iceCream.id %>"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
              </div>
          <% }) %>
      </div>

      <button class="finalizar">
        Finalizar Compra <i class="fa-solid fa-arrow-right-long"></i>
      </button>
    </div>

    <div class="payments-method">
      <span>Aceitamos cartão | dinheiro | pix</span>
    </div>

    <div class="instagram">
      <i class="fa-brands fa-instagram"></i>
      <a href="https://www.instagram.com/brisa.nordestina/" target="_blank"
        >@brisa.nordestina</a
      >
    </div>
    <script src="/src/cartpayment.js"></script>
  </body>
</html>
